.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.side-navbar {
  background-color: #32669a; /* or any other background color you prefer */
}

.side-navbar .nav-link,
.side-navbar .nav-item strong {
  color: white;
}

.side-navbar .nav-link:hover {
  color: #d4d4d4; /* optional: a different color when hovering over the links */
}

.basic-navbar-nav{
  background-color: #32669a
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
